:root {
  --black: #000000;
  --blue: #0d10e9;
  --fadedBlue: #405ccc;
  --gray: #808080;
  --lightBlue: #4dd2ff;
  --lightGray: #d1d4db;
  --lightOrange: #ffcb25;
  --lightTeal: #98f0da;
  --lightLightOrange: #ffde82;
  --orange: #ffbb3c;
  --red: #ff190c;
  --teal: #1bf0da;
  --white: #ffffff;
}

.artist-input {
  border-radius: 5px;
  padding: 6px;
}
.artist-input:hover {
  box-shadow: 0 0 20px 0 var(--blue);
}

.artist-search-div {
  margin-top: 20px;
}

.button {
  padding: 6px;
  border-radius: 4px;
  margin-left: 10px;
  background-color: var(--lightTeal);
  font-size: 0.75em;
  box-shadow: 0px 1.5px 0px 0px var(--lightTeal);
}

.button:hover {
  box-shadow: 0 0 0 0;
  border-radius: 5px;
  background-color: var(--teal);
}

.message {
  text-transform: capitalize;
  color: var(--orange);
}

@media only screen and (max-width: 640px) {
  .button {
    margin-left: 5px;
  }
}
